<section id="back">
    
    <div *ngFor = "let movie of movies">
      <div class="container" >
        <div class="feature-content">
          <div class="row">
            <div class="col-lg-6 ">
              <div class="card" style="width: 18rem;">
                <a href="details/:{{movie.id}}"><img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img-top" alt="..." class="img-thumbnail"></a>  
    
              </div>
              <blockquote >Rating : {{movie.rating}} <i class="fa fa-heart" aria-hidden="true"></i></blockquote>
            </div>       
            <div class="col-lg-6 my-auto">
              <h6 class="">{{movie.title}}</h6> 
              <h3 class="display-5">Synopsis:</h3><hr>
              <p>{{movie.overview}}</p><hr>
              <button id="btn1"> <a (click)="removefav(movie.id)">Delete Favorite </a></button> 

              <button id="btn1"> <a href="details/:{{movie.id}}">View Details </a></button> 
    
            </div>
          </div>
        </div>    
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      </div>
    </div>
</section>        