<section id="back">
    
<div *ngFor = "let movie of movies">
  <div class="container" >
    <div class="feature-content">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="card" style="width: 18rem;">
            <a href="details/:{{movie.id}}"><img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img-top" alt="..." class="img-thumbnail"></a>  

          </div>
          <blockquote >Rating : {{movie.vote_average}} <i class="fa fa-heart" aria-hidden="true"></i></blockquote>
        </div>       
        <div class="col-lg-6 my-auto">
          <h6 class="">{{movie.title}}</h6> 
          <h3 class="display-5">Synopsis:</h3><hr>
          <p>{{movie.overview}}</p><hr>
          <!--onSubmit1 function is called with one parameter as input for adding as favorite-->
          <button id="btn1"> <a (click)="onSubmit1(movie)"> Add To Favorites </a> </button>
          <!--Movie-Details component is called with an argument movie.id -->
          <button id="btn1"> <a href="details/:{{movie.id}}">View Details </a></button> 
          
        </div>
      </div>
    </div>    
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  </div>
</div>
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="">1</a></li>
        <li class="page-item"><a class="page-link" href="/second-page">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
</section>